@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

.features {
  font-family: 'Playfair Display', serif;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: black;
  text-align: center;
  padding: 80px 0px;
  background-attachment: fixed;
  position: relative;
}

.features::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);

  background-repeat: no-repeat;
  background-size: cover;
}
.features__container {
  position: relative;
  z-index: 2;
}
.feature__item {
  backdrop-filter: blur(3px);
  border-radius: 8px;
  padding: 30px;
  border: 1px solid #e8e8e8;
  transition: 0.3s;
}
.feature__item i {
  font-size: 3rem;
  color: #35a22c;
}
.feature__item h3 {
  margin: 20px 0px;
}
.feature__item {
  background: white;
} 

h4, h2 {
  text-transform: uppercase;
}

.feature__item p {
  font-size: 30px;
}